<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
[% title %]
</title>
<body bgcolor="#FFFFFF">
<h1> CPAN Magic Mirror </h1>
<h2> [% title %] </h2>


